{% extends 'base.html' %}

{% block head %}
<title></title>
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
{% endblock %}

{% block body %}
<div class="container mt-5">
   <div class="content text-center">
       <h1>Валутен конвертор</h1>
   </div>
</div>
<div class="container mt-5">
   <div class="row">
       <div class="col-md-3">
      <!-- Content -->
       </div>
       <div class="col-md-6">
           <form action='/' method="post">
               <h5>Моля, въведете сума и изберете съответната валута:</h5>
               <input type="number" step='0.00001' id="number" name="number" size="40" value={{request.form.number}}>
               <select id="currency" name="currency">
                   <option>EUR</option>
                   <option>USD</option>
                   <option>AUD</option>
                   <option>CAD</option>
               </select>
               <input type="submit" value="&nbsp; Пресметни &nbsp;" size="40"><br><br><br>
               <h5>Резултат в лева:</h5>
               <input type="number" id="output" name="output" size="40" value={{text}}>
               <a href="/admin" class="btn btn-primary">&nbsp; &nbsp; &nbsp; Админ панел &nbsp; &nbsp; &nbsp;</a>
           </form>
       </div>
       <div class="col-md-3">
      <!-- Content -->
       </div>
   </div>
</div>

{% endblock %}
